:root {
    --primary-font-color: hsl(210, 24%, 16%);
}

html, body {
    margin: auto 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(214, 15%, 91%);
}

a {
    text-decoration: none;
}


/* ---------- START Media Query -----------*/
/* Large screen */
@media (max-width: 1024px) and (min-width: 768px) { 
    #project-tile {
        width: 200px;
    }
    
    #project-tile > a > img {
        width: 200px;
    }
}

/* Medium Screen */
@media (max-width: 768px) and (min-width: 640px) {
    #project-tile {
        width: 150px;
    }
    
    #project-tile > a > img {
        width: 150px;
    }
}
/* ---------- END Media Query -----------*/


/* ---------- START Project Section ---------- */
#projects-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#projects-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-header > h1 {
    font-size: calc(1.3rem + 1vw);
    font-weight: 500;
    text-decoration: underline;
    color: hsl(200, 68%, 35%);
}

#project-tile {
    background-color: hsl(216, 33%, 97%);
    padding: 10px;
    margin: 20px 20px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 3px 3px hsl(210, 16%, 82%);
    transition: box-shadow 0.5s ease-in-out;
}

#project-tile:hover {
    box-shadow: 0px 0px 10px 10px hsl(210, 16%, 82%);
}

#project-tile > a > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 400;
    color: var(--primary-font-color);
}

#project-tile > a > p > span {
    font-size: calc(1rem + 1vw);
    font-weight: 700;
    padding: 0px 10px;
    color: hsl(210, 16%, 82%);
}

#project-tile:hover .code {
    color: hsl(200, 54%, 49%);
}

/* ---------- END Project Section ---------- */

/* ---------- START Contact Section ----------*/
#contact-section {
    height: 90vh;
    width: 100vw;
    background-color: hsl(209, 18%, 30%);
    color: hsl(216, 33%, 97%);
}

#contact-section > header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 10px;
}

#contact-section > header > h1 {
    text-transform: capitalize;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: calc(1.5rem + 1.5vw);
    font-weight: 600;
}

#contact-section > header > h3 {
    padding-top: 0;
    margin-top: 0;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 300;
    font-style: italic;
}

#socail-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#socail-media > p {
    display: flex;
    align-items: center;
    padding: 24px;
    transition: padding-top 0.3s ease-in-out;
}

#socail-media > p:hover {
    padding-top: 0;
}

#icon > img {
    width: 20px;
    height: 20px;
    padding: 5px;
}
/* ---------- END Contact Section ----------*/